.grid {
  display: inline-block;
  border: 1px solid #000;
  user-select: none;
}

.grid > div {
  font-size: 75%;
  color: rgb(255, 255, 255);
}

.row {
  display: flex;
}

.cell {
  width: 1.5em;
  height: 1.5em;
  border: 1px solid #ddd;
}